<!DOCTYPE html>
{% load static %}

 <html lang="en" dir="1tr">
    <head>
        <meta charset="UTF-8">
        <title> Add stock Form</title>
        <link rel="stylesheet" href="{% static 'landingPage/addstock.css' %}">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="title">Addstock</div>
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Item</span>
                        <input type="text" placeholder="Enter item" required>  
                    </div>
                    <div class="input-box">
                        <span class="details">Cat</span>
                        <input type="text" placeholder="Enter category" required>  
                    </div>
                    <div class="input-box">
                        <span class="details">Price</span>
                        <input type="text" placeholder="Enter price" required>  
                    </div>
                    <div class="input-box">
                        <span class="details">Quantity</span>
                        <input type="text" placeholder="Enter quantity" required>  
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Addstock">
                </div>
            </form>
        </div> 
    </body>
 </html>